body{
	background-image: url('https://png2.kisspng.com/sh/33c8f40ba8e949113e7ffd7ea9858ed7/L0KzQYm3VMI2N5Jtj5H0aYP2gLBuTfRucaV3gZ92ZX7ndb3shgYue5RufdD9aYP3PbXwjfl1epoyhdd3ZHXvdbb9TfNpbZ5uRdh1b3H3ebBuTfVtbZ5qhuZ8LUXkdYG8VBMzOWI6fKU5Lke2QYK8UMQ1OWY3TKgAMUm6QIGAUcEveJ9s/kisspng-dmitri-mendeleev-scientist-dimitri-mendeleev-chemi-floating-elements-5ae057c2115d30.7311504415246519700711.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}
td {
	flex: auto;
	/* width: 5.55555%; */
}
p{
	font-size: 1vw;
}
h3{
	font-size: 1vw;
}
div.hydrogen {
	background-color: yellowgreen;
}
div.noble_gas{
	background-color: darkcyan;
}
div.alkali_metal{
	background-color: brown;
}
div.alkali_e_metal{
	background-color: darkviolet;
}
div.trans_metal{
	background-color: darkorange;
}
div.lanthanide{
	background-color: darkgoldenrod;
}
div.actinide{
	background-color: darkgreen;
}
div.other_metal{
	background-color: lightskyblue;
}
div.semi_metal{
	background-color: lightgreen;
}
div.non_metal{
	background-color: greenyellow;
}
div.div.noble_gas{
	background-color: turquoise;
}